<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<%= link_to "New product", new_product_path %>
<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
      <%# <%= button_to 'Checkout', checkout_create_path, method: :post, params: { id: product.id }, data: { turbo: false } %>
      <%= button_to 'Buy Now', payment_create_path, method: :post, params: { id: product.id }, data: { turbo: false } %>
      </p>
  <% end %>
</div>

